{% extends 'app1/base.html' %}

{% block body %}
    <div class="page-content">
        <div class="card radius-15">
            <div class="card-body">
                <div class="card-title">
                    <center><h2 class="mb-0">CREATE ACCOUNTS</h2></center>
                </div>
                <hr/>
            </div>
        </div>
        <div class="card p-3">
            <form method="post" action="{% url 'createaccount' %}" id="accountForm">
                {% csrf_token %}
                <div class="row mt-2 mb-2">
                    <div class="col-md-6">
                        <label for="acctyp">Account Type</label>
                        <input type="text" value="Assets" id="acctype" name="acctype" hidden>
                        <select name="detype" id="Account_type"
                                class="custom-select-md form-control w-100"  onchange="AccountTypeChange(this)">

                               
                               
                                    <optgroup label="Assets" style="background-color: rgb(114, 114, 244);">Assets</optgroup>
                                    <option style="padding-left:15px" value="Other Asset"> Other Asset </option>
                                    <option style="padding-left:15px" value="Other Current Asset"> Other Current Asset </option>
                                    <option style="padding-left:15px" value="Cash"> Cash </option>
                                    <option style="padding-left:15px" value="Bank"> Bank </option>
                                    <option style="padding-left:15px" value="Fixed Asset"> Fixed Asset </option>
                                    <option style="padding-left:15px" value="Stock"> Stock</option>
                                    <option style="padding-left:15px" value="Payment Clearing"> Payment Clearing</option>
                                    <optgroup label="Liability" style="background-color: rgb(114, 114, 244);">Liability</optgroup>
                                    <option style="padding-left:30px" value="Other Current Liability">Other Current Liability </option>
                                    <option style="padding-left:15px" value="Credit Card"> Credit Card </option>
                                    <option style="padding-left:15px" value="Long Term Liability"> Long Term Liability </option>
                                    <option style="padding-left:15px" value="Other Liability"> Other Liability </option>
                                    <option style="padding-left:15px" value="Overseas Tax Payable"> Overseas Tax Payable </option>
                                    <optgroup label="Equity" style="background-color: rgb(114, 114, 244);">Equity</optgroup>
                                    <option style="padding-left:15px" value="Equity"> Equity </option>
                                    <optgroup label="Income" style="background-color: rgb(114, 114, 244);">Income</optgroup>
                                    <option style="padding-left:15px" value="Income"> Income </option>
                                    <option style="padding-left:15px" value="Other Income"> Other Income </option>
                                    <optgroup label="Expense"style="background-color: rgb(114, 114, 244);">Expense</optgroup>
                                    <option style="padding-left:15px" value="Expense"> Expense </option>
                                    <option style="padding-left:15px" value="Cost Of Goods Sold"> Cost Of Goods Sold </option>
                                    <option style="padding-left:15px" value="Other Expense"> Other Expense </option>
                                    
                                    
                                 
                              
                                
                               
                            
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="name">*Name</label>
                        <input name="name" id="name" required
                               class="custom-select-md form-control w-100"> 
                    </div>
                    
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col-md-6 mt-2">
                        <label for="balance">Credit</label>
                        <input type="text" name="balance" id="balance"
                               class="form-control" >
                    </div>
                    <div class="col-md-6 mt-2">
                        <label for="balance">Debit</label>
                        <input type="text" name="dbbalance" id="balance"
                               class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-2"> 
                        <div id="acnt-desc" class="form-control" name="detype" style="font-size: small;  height: 200px;"></div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class="mt-2">
                            <div>
                                <label for="asof">As of</label>
                                <input type="date" name="asof" id="asof" class="form-control" value="{{ tod }}">
                            </div>
                        </div>
                        <div class="mt-2">
                            <label>Description</label>
                        <textarea class="form-control" name="description" placeholder="Max. 500 Characters"></textarea>
                        </div>
                    </div>
                </div>        
                
                    
                    <!-- <div class="col-md-6 mt-2"> -->
                        <!-- <div class="form-check">
                            <div>
                                <input class="form-check-input" name="issub"
                                       type="checkbox"
                                       value="is sub account"
                                       id="issub">
                                <label class="form-check-label" for="issub">
                                    Is sub-account
                                </label>
                            </div>
                        </div> -->
                        <!-- <div class="mt-2">
                            <select name="gst" id="gst"
                                    class="custom-select-md form-control w-100"
                                    disabled="disabled">
                                <option value="Deferred CGST">Deferred CGST</option>
                                <option value="Deferred GST Input Credit">Deferred
                                    GST Input Credit
                                </option>
                                <option value="Deferred IGST">Deferred IGST</option>
                                <option value="Deferred Krishi Kalyan Cess
                            Input Credit">Deferred Krishi Kalyan Cess
                                    Input Credit
                                </option>
                                <option value="Deferred Service Tax Input
                            Credit">Deferred Service Tax Input
                                    Credit
                                </option>
                                <option value="Deferred SGST">Deferred SGST</option>
                                <option value="Deferred VAT Input Credit">Deferred
                                    VAT
                                    Input
                                    Credit
                                </option>
                                <option value="GST Refund">GST Refund</option>
                                <option value="Inventory Asset">Inventory Asset
                                </option>
                                <option value="Paid Insurance">Paid Insurance
                                </option>
                                <option value="Service Tax Refund">Service Tax
                                    Refund
                                </option>
                                <option value="TDS Receivable">TDS Receivable
                                </option>
                                <option value="Uncategorised Asset">Uncategorised
                                    Asset
                                </option>
                                <option value="Accumulated Depreciation">Accumulated
                                    Depreciation
                                </option>
                                <option value="Buildings and Improvements">Buildings
                                    and
                                    Improvements
                                </option>
                                <option value="Furniture and Equipment">Furniture
                                    and
                                    Equipment
                                </option>
                                <option value="Land">Land</option>
                                <option value="Leasehold Improvements">Leasehold
                                    Improvements
                                </option>
                                <option value="CGST Payable">CGST Payable</option>
                                <option value="CST Payable">CST Payable</option>
                                <option value="CST Suspense">CST Suspense</option>
                                <option value="GST Payable">GST Payable</option>
                                <option value="GST Suspense">GST Suspense</option>
                                <option value="IGST Payable">IGST Payable</option>
                                <option value="Input CGST">Input CGST</option>
                                <option value="Input CGST Tax RCM">Input CGST Tax
                                    RCM
                                </option>
                                <option value="Input IGST">Input IGST</option>
                                <option value="Input IGST Tax RCM">Input IGST Tax
                                    RCM
                                </option>
                                <option value="Input Krishi Kalyan Cess">Input
                                    Krishi
                                    Kalyan
                                    Cess
                                </option>
                                <option value="Input Krishi Kalyan Cess
                            RCM">Input Krishi Kalyan Cess
                                    RCM
                                </option>
                                <option value="Input Service Tax">Input Service Tax
                                </option>
                                <option value="Input Service Tax RCM">Input Service
                                    Tax
                                    RCM
                                </option>
                                <option value="Input SGST">Input SGST</option>
                                <option value="Input SGST Tax RCM">Input SGST Tax
                                    RCM
                                </option>
                                <option value="Input VAT 14%">Input VAT 14%</option>
                                <option value="Input VAT 4%">Input VAT 4%</option>
                                <option value="Input VAT 5%">Input VAT 5%</option>
                                <option value="Krishi Kalyan Cess Payable">Krishi
                                    Kalyan
                                    Cess Payable
                                </option>
                                <option value="Krishi Kalyan Cess
                            Suspense">Krishi Kalyan Cess
                                    Suspense
                                </option>
                                <option value="Output CGST">Output CGST</option>
                                <option value="Output CGST Tax RCM">Output CGST Tax
                                    RCM
                                </option>
                                <option value="Output CST 2%">Output CST 2%</option>
                                <option value="Output IGST">Output IGST</option>
                                <option value="Output IGST Tax RCM">Output IGST Tax
                                    RCM
                                </option>
                                <option value="Output Krishi Kalyan Cess">Output
                                    Krishi
                                    Kalyan Cess
                                </option>
                                <option value="Output Krishi Kalyan Cess
                            RCM">Output Krishi Kalyan Cess
                                    RCM
                                </option>
                                <option value="Output Service Tax">Output Service
                                    Tax
                                </option>
                                <option value="Output Service Tax RCM">Output
                                    Service
                                    Tax
                                    RCM
                                </option>
                                <option value="Output SGST">Output SGST</option>
                                <option value="Output SGST Tax RCM">Output SGST Tax
                                    RCM
                                </option>
                                <option value="Output VAT 14%">Output VAT 14%
                                </option>
                                <option value="Output VAT 4%">Output VAT 4%</option>
                                <option value="Output VAT 5%">Output VAT 5%</option>
                                <option value="Service Tax Payable">Service Tax
                                    Payable
                                </option>
                                <option value="Service Tax Suspense">Service Tax
                                    Suspense
                                </option>
                                <option value="SGST Payable">SGST Payable</option>
                                <option value="SGST Suspense">SGST Suspense</option>
                                <option value="Swachh Bharat Cess Payable">Swachh
                                    Bharat
                                    Cess Payable
                                </option>
                                <option value="Swachh Bharat Cess
                            Suspense">Swachh Bharat Cess
                                    Suspense
                                </option>
                                <option value="TDS Payable">TDS Payable</option>
                                <option value="VAT Payable">VAT Payable</option>
                                <option value="VAT Suspense">VAT Suspense</option>
                                <option value="Opening Balance">Opening Balance
                                </option>
                                <option value="Equity">Equity</option>
                            </select>
                        </div> -->
                        <!-- <div class="mt-2">
                            <label for="deftaxcode">Default Tax Code</label>
                            <select name="deftaxcode" id="deftaxcode"
                                    class="custom-select-md form-control w-100">
                                <option value="0">Choose</option>
                                <option value="18.0% IGST">18.0% IGST</option>
                                <option value="14.00% ST">14.00% ST</option>
                                <option value="0% IGST">0% IGST</option>
                                <option value="Out of Scope">Out of Scope</option>
                                <option value="0% GST">0% GST</option>
                                <option value="14.5% ST">14.5% ST</option>
                                <option value="14.0% VAT">14.0% VAT</option>
                                <option value="6.0% IGST">6.0% IGST</option>
                                <option value="28.0% IGST">28.0% IGST</option>
                                <option value="15.0% ST">15.0% ST</option>
                                <option value="28.0% GST">28.0% GST</option>
                                <option value="12.0% GST">12.0% GST</option>
                                <option value="18.0% GST">18.0% GST</option>
                                <option value="3.0% GST">3.0% GST</option>
                                <option value="0.2% IGST">0.2% IGST</option>
                                <option value="5.0% GST">5.0% GST</option>
                                <option value="6.0% GST">6.0% GST</option>
                                <option value="0.2% GST">0.2% GST</option>
                                <option value="Exempt IGST">Exempt IGST</option>
                                <option value="3.0% IGST">3.0% IGST</option>
                                <option value="4.0% VAT">4.0% VAT</option>
                                <option value="5.0% IGST">5.0% IGST</option>
                                <option value="12.36% ST">12.36% ST</option>
                                <option value="5.0% VAT">5.0% VAT</option>
                                <option value="Exempt GST">Exempt GST</option>
                                <option value="12.0% IGST">12.0% IGST</option>
                                <option value="2.0% CST">2.0% CST</option>
                            </select>
                        </div> -->
                        <!-- <div class="row mt-2" style="display: inline-flex;">
                            
                            
                         
                        </div> -->

                    <!-- </div> -->
                <!-- </div> -->
                <div class="mt-3">
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-outline-info">Save</button>
                                
                           
                            <a type="submit" class="btn btn-outline-info" onclick="clearForm()">Close</a>
                        </div>
                       
                    </div>
                </div>
                
                <!-- <div class="mt-3">
                    <button type="submit" class="btn btn-outline-light">Save and
                        close
                    </button>
                </div> -->
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        var $checkBox = $('#issub'), $select = $('#gst');
        $(document).ready(function () {
            $checkBox.on('change', function (e) {
                if ($(this).is(':checked')) {
                    $select.removeAttr('disabled');
                } else {
                    $select.attr('disabled', 'disabled');
                }
            });

            document.getElementById("acnt-desc").innerHTML=`
                                                            <b>Asset</b> <br> Track special assets like goodwill and other intangible assets<br/>
                                                           
                                                           `;
        });
    </script>

    <script>
       
        function AccountTypeChange(selectBox) {
        var selectElement = document.getElementById("Account_type");
        var selectedValue = selectElement.value;
        var Acnt_desc = document.getElementById("acnt-desc");
        var acctype = document.getElementById("acctype");
 
          
        switch(selectedValue) {

                case "Other Asset":
                    Acnt_desc.innerHTML=`
                                                            <b>Asset</b> <br> Track special assets like goodwill and other intangible assets<br/>
                                                           
                                                            `;
                                                            acctype.value="Asset";
                    break;
                case "Other Current Asset":
                    Acnt_desc.innerHTML=`
                                                            <b>Asset</b> <br> Any short term asset that can be converted into cash or cash equivalents easily<br/>
                                                            <ul>
                                                                <li>1.Prepaid expenses</li>
                                                                <li>2.Stocks and Mutual Funds</li>
                                                            </ul>
                                                            `;
                                                            acctype.value="Asset";
                    break;
                case "Cash":
                    Acnt_desc.innerHTML=`
                                                            <b>Asset</b> <br> To keep track of cash and other cash equivalents like petty cash, undeposited funds, etc.<br/>
                                                           
                                                            `;
                                                            acctype.value="Asset";
                    break;
                case "Bank":
                    Acnt_desc.innerHTML=`
                                                            <b>Asset</b> <br> To keep track of bank accounts like Savings, Checking, and Money Market accounts<br/>
                                                           
                                                            `;
                                                            acctype.value="Asset";
                    break;
                case "Fixed Asset":
                    Acnt_desc.innerHTML=`
                                                            <b>Asset</b> <br> Any long term investment or an asset that cannot be converted into cash easily like:<br/>
                                                            <ul>
                                                                <li>1.Land and Buildings</li>
                                                                <li>2.Plant, Machinery and Equipment</li>
                                                                <li>3.Computers</li>
                                                                <li>3.Furniture</li>
                                                            </ul>
                                                            `;
                                                            acctype.value="Asset";
                    break;
                case "Stock":
                    Acnt_desc.innerHTML=`
                                                            <b>Asset</b> <br> To keep track of your inventory assets.<br/>
                                                           
                                                            `;
                                                            acctype.value="Asset";
                    break;
                case "Payment Clearing":
                    Acnt_desc.innerHTML=`
                                                            <b>Asset</b> <br> To keep track of funds moving in and out via payment processors like Stripe, PayPal, etc.<br/>
                                                           
                                                            `;
                                                            acctype.value="Asset";
                    break;
                case "Other Current Liability":
                    Acnt_desc.innerHTML=`
                                                            <b>Liability</b> <br> Any short term liability like:<br/>
                                                            <ul>
                                                                <li>1.Customer Deposits</li>
                                                                <li>2.Tax Payable</li>
                                                                
                                                            </ul>
                                                            `;
                                                            acctype.value="Liability"
                    break;
                case "Credit Card":
                    Acnt_desc.innerHTML=`
                                                            <b>Liability</b> <br>Create a trail of all your credit card transactions by creating a credit card account<br/>
                                                           
                                                            `;
                                                            acctype.value="Liability"
                    break;
                case "Long Term Liability":
                    Acnt_desc.innerHTML=`
                                                            <b>Liability</b> <br> Liabilities that mature after a minimum period of one year like Notes Payable, Debentures, and Long Term Loans<br/>
                                                           
                                                            `;
                                                            acctype.value="Liability"
                    break;
                case "Other Liability":
                    Acnt_desc.innerHTML=`
                                                            <b>Liability</b> <br>Obligation of an entity arising from past transactions or events which would require repayment.<br/>
                                                            <ul>
                                                                <li>1.Tax to be paid</li>
                                                                <li>2.Loan to be Repaid</li>
                                                                <li>3.Loan to be Repaid</li>
                                                                
                                                            </ul>
                                                            `;
                                                            acctype.value="Liability"
                    break;
                case "Overseas Tax Payable":
                    Acnt_desc.innerHTML=`
                                                            <b>Liability</b> <br> To keep track of funds moving in and out via payment processors like Stripe, PayPal, etc.<br/>
                                                           
                                                            `;
                                                            acctype.value="Liability"
                    break;
                case "Equity":
                    Acnt_desc.innerHTML=`
                                                            <b>Equity</b> <br>Owners or stakeholders interest on the assets of the business after deducting all the liabilities<br/>
                                                           
                                                            `;
                                                            acctype.value="Equity"
                    break;
                case "Income":
                    Acnt_desc.innerHTML=`
                                                            <b>Income</b> <br>Income or Revenue earned from normal business activities like sale of goods and services to customers<br/>
                                                           
                                                            `;
                                                            acctype.value="Income"
                    break;
                case "Other Income":
                    Acnt_desc.innerHTML=`
                                                            <b>Income</b> <br>Income or revenue earned from activties not directly related to your business like :<br/>
                                                            <ul>
                                                                <li>1.Interest Earned</li>
                                                                <li>2.Dividend Earned</li>
                                                               
                                                                
                                                            </ul>
                                                            `;
                                                            acctype.value="Income"
                    break;
                case "Expense":
                    Acnt_desc.innerHTML=`
                                                            <b>Expense</b> <br>Reflects expenses incurred for running normal business operations, such as :<br/>
                                                            <ul>
                                                                <li>1.Advertisements and Marketing</li>
                                                                <li>2.Business Travel Expenses</li>
                                                                <li>3.License Fees</li>
                                                                <li>4.Utility Expenses</li>
                                                               
                                                                
                                                            </ul>
                                                            `;
                                                            acctype.value="Expense"
                    break;
                case "Cost Of Goods Sold":
                    Acnt_desc.innerHTML=`
                                                            <b>Expense</b> <br>This indicates the direct costs attributable to the production of the goods sold by a company such as:<br/>
                                                            <ul>
                                                                <li>1.Material and Labor costs</li>
                                                                <li>2.Cost of obtaining raw materials</li>
                                                               
                                                                
                                                            </ul>
                                                            `;
                                                            acctype.value="Expense"
                    break;
                case "Other Expense":
                    Acnt_desc.innerHTML=`
                                                            <b>Expense</b> <br>Reflects expenses incurred for activities unrelated to primary business operations like :<br/>
                                                            <ul>
                                                                <li>1.Bad debts</li>
                                                                <li>2.Contributions Towards Charity</li>
                                                                <li>3.Insurance</li>
                                                                
                                                            </ul>
                                                            `;
                                                            acctype.value="Expense"
                    break;

                default:
                    Acnt_desc.innerHTML="";
        }

         
    }

    function clearForm() {
        const form = document.getElementById('accountForm');
        form.reset();
    }
    </script>
{% endblock %}