{% extends 'app1/base.html' %}
{% block body %}
{% load static %}
<div class="page-content">
    <div class="card radius-15">
        <div class="card-body">
            <div class="card-title">
                <center>
                    <h3 class="mb-0">EDIT EMPLOYEE</h3>
                    <img class="user-img" id="file-ip-1-preview" src="{{ employee.image.url }}" style="width: 100px;height: 100px;" onerror="this.src='/media/images/default.jpg';this.onerror='';">
                </center>
            </div>
            <hr />
        </div>
    </div>
    <div class="card radius-15" style="background-color: #243e54;">
        <form action="{% url 'editpayrollemployee' employee.employeeid %}" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% if user.is_authenticated %}
            <div class="card-body">
                <div class="card-title">
                    <div class="row">
                    <div class="col-md-4 mt-3"> <h4 class="mb-0">Employee Information</h4></div>
                    <div class="col-md-4 mt-3">                        
                        <label for="file">Upload File : </label>
                        <input type="file" id="file" name="file" class="form-control" value="{{employee.file}}">
                  </div>
                  <div class="col-md-4 mt-3"> 

                        <label for="file-ip-1">Upload Image : </label>
                        <input type="file" id="file-ip-1" name="image" accept="image/*" class="form-control" value="{{employee.image}}"
                                     onchange="showPreview(event);">
                  </div>  
                    </div>
                </div>
                <hr />         
                    <div class="row">
                        <div class="col-md-4 mt-3">
                            <label for="title">Title</label>
                            <select name="title" id="title" class="form-control">
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Miss">Miss</option>
                                <option value="Ms">Ms</option>
                            </select>
                           
                        </div>
                        <div class="col-md-4 mt-3">
                            <label for="firstname">First name</label>
                            <input type="text" class="form-control" id="firstname" name="firstname"  value="{{employee.firstname}}"
                                style="background-color: #2f516f;color: white;" required>
                           
                        </div>
                        <div class="col-md-4 mt-3">
                            <label for="lastname">Last name</label>
                            <input type="text" class="form-control" id="last_name" name="lastname" value="{{employee.lastname}}" 
                                style="background-color: #2f516f;color: white;" required>
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mt-3">
                            <label for="alias">Alias</label>
                            <input type="text" class="form-control" id="alias" name="alias" value="{{employee.alias}}"
                                style="background-color: #2f516f;color: white;">
                           
                        </div>
                       
                        <div class="col-md-4 mt-3">
                            <label for="location">Employee Current Location</label>
                            <input type="text" class="form-control" id="location" name="location" value="{{employee.location}}"
                                style="background-color: #2f516f;color: white;" required>
                           
                        </div>
                        <div class="col-md-4 mt-3">
                            <label for="email"> Employee Email Id</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{employee.email}}" required
                                style="background-color: #2f516f;color: white;" placeholder="finsys@mail.com" pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
                            <div class="invalid-feedback">Please provide a valid Email</div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-md-4 mt-3">
                            <label for="employeeno">Employee No:</label>
                                <input type="text" class="form-control" id="employeeno" name="employeeno"  value="{{employee.employeeno}}"
                                    style="background-color: #2f516f;color: white;" required>
                        </div>
                        <div class="col-md-4 mt-3">
                            <label for="mobile">Mobile</label>
                            <input type="text" class="form-control" id="mobile" maxlength="10" value="{{employee.mobile}}"
                                name="mobile" style="background-color: #2f516f;color: white;" required>
                            <div class="text-danger m-2" id="warnphone"></div>
                        </div>
                        <div class="col-md-4 mt-3">
                            <label for="join_date">Date Of Joining</label>
                            <input type="date" class="form-control" id="join_date" name="joindate" value="{{employee.joindate}}"
                                style="background-color: #2f516f;color: white;" required> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 mt-3">
                            <label for="Employees">Employees</label>
                            <select name="employees" id="Employees" class="form-control" value="{{employee.employees}}" onchange="DefineSalaryShow()">
                                <option value="Fixed">Fixed</option>
                                <option value="Timebased">Time Based</option>
                                <option value="Temporary">Temporary</option>
                            </select>
                           
                        </div>
                        <div class="col-md-4 mt-3 pt-4">
                            <label>Define Salary Details :</label>&nbsp;&nbsp;
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="no" name="salarydetails"
                                    onchange="show2(this.value)" value="No" checked>
                                <label class="form-check-label">No</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="yes" name="salarydetails"
                                    onchange="show(this.value)" value="Yes">
                                <label class="form-check-label">Yes</label>
                            </div>
                           
                        </div>
                        
                    </div>
                   

                    <div class="desc" id="Salarydetails" style="display: none;">
                        <div class="card-title mt-3">
                            <h5 class="mb-0">Salary Details</h5>
                        </div>
                        <hr>
                        <div class="row mt-3">
                            <div class="col-3 col-md-4">
                                <label for="effectivefrom">Effective From</label>
                                <input type="date" class="form-control" id="effectivefrom" name="effectivefrom" value="{{employee.effectivefrom}}"
                                    style="background-color: #2f516f; color: white;" min="0" value="0" >
                                <div class="text-danger m-2" id="effectivefrom"></div>
                            </div>
                            <div class="col-3 col-md-4">
                                <label for="payhead">Pay Head</label>
                                <select name="payhead" id="payhead" class="form-control" value="{{employee.payhead}}">
                                    <option value="Cash">Cash</option>
                                    <option value="BankThrough">Bank</option>
                                    <option value="Cheque">Cheque</option>
                                </select>
                               
                            </div>
                            
                            <div class="col-3 col-md-4">
                                <label for="amount">Amount</label>
                                <input type="number" class="form-control" id="amount" name="amount" value="{{employee.amount}}"
                                    style="background-color: #2f516f; color: white;" min="0" value="0" >
                                <div class="text-danger m-2" id="Amount"></div>
                            </div>
                        </div>

                        <div class="row mt-3" id="time_based_show" style="display: none;">
                            
                            <div class="col-3 col-md-4">
                                <label for="hours">Hours</label>
                                <input type="number" class="form-control" id="hours" name="hours" value="{{employee.hours}}"
                                    style="background-color: #2f516f; color: white;" min="0" value="0" >
                                <div class="text-danger m-2" id="Hours"></div> 
                            </div> 
                            <div class="col-3 col-md-4"> 
                                <label for="rate">Rate</label>
                                <input type="number" class="form-control" id="rate" name="rate" value="{{employee.rate}}"
                                    style="background-color: #2f516f; color: white;" min="0" value="0" >
                                <div class="text-danger m-2" id="Rate"></div>
                            </div> 
                        </div>
                    </div>
            </div> 
            <div class="card-body">
                <div class="card-title">
                    <h4 class="mb-0">General Information</h4>
                </div>
                <hr>
                <div class="row mt-3">
                    <div class="col-3 col-md-4">
                        <label for="designation">Designation</label>
                        <input type="text" class="form-control" id="designation" name="designation"   value="{{employee.designation}}"
                            style="background-color: #2f516f;color: white;" required>
                    </div>
                    <div class="col-3 col-md-4">
                        <label for="function">Function</label>
                                <input type="text" class="form-control" id="function" name="function"  value="{{employee.function}}"
                                    style="background-color: #2f516f;color: white;">
                    </div>
                    
                    <div class="col-3 col-md-4">
                        <label for="gender">Gender</label>
                                <select name="gender" id="gender" class="form-control"  value="{{employee.gender}}">
                                    <option value="Unknown">Unknown</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Others">Others</option>
                                </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-3 col-md-4">
                        <label for="dateofbirth">Date Of Birth</label>
                        <input type="date" class="form-control" id="dateofbirth" name="dateofbirth"   value="{{employee.dateofbirth}}"
                            style="background-color: #2f516f;color: white;"required> 
                    </div>
                    <div class="col-3 col-md-4">
                        <label for="bloodgroup">Blood Group</label>
                        <select name="bloodgroup" id="bloodgroup" class="form-control" value="{{employee.bloodgroup}}">
                            <option value="O+ve">O+ve</option>
                            <option value="O-ve">O-ve</option>
                            <option value="A+ve">A+ve</option>
                            <option value="B+ve">B+ve</option>
                            <option value="AB+ve">AB+ve</option>
                            <option value="AB-ve">AB-ve</option>
                            <option value="A-ve">A-ve</option>
                            <option value="B-ve">B-ve</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    
                    <div class="col-3 col-md-4">
                        <label for="fathersmothersname">Father's/Mother's Name</label>
                        <input type="text" class="form-control" id="fathersmothersname" name="fathersmothersname" value="{{employee.fathersmothersname}}"
                             style="background-color: #2f516f;color: white;" required>
                    </div>
 </div>
 <div class="row mt-3">
    <div class="col-3 col-md-4">
        <label for="spousename">Spouse Name</label>
        <input type="text" class="form-control" id="spousename" name="spousename"  value="{{employee.spousename}}"
            style="background-color: #2f516f;color: white;" required>
    </div>
    <div class="col-3 col-md-4">
        <label for="phone">Emergency Contact No:</label>
        <input type="text" class="form-control" id="phone" maxlength="10" value="{{employee.generalphone}}"
            name="generalphone" style="background-color: #2f516f;color: white;" required>
        <div class="text-danger m-2 invalid-feedback" id="warnphone">Please provide a valid Number</div>
    </div>
    
    <div class="col-3 col-md-4">
       
    </div>
</div> 
              
                <div class="card-title mt-4">
                    <h4 class="mb-0"> Bank Details</h4>
                </div>
                <hr> 
                            <div class="row gx-1 ">
            
                                <div class="col-md-6">
                                      <div class="card-body">
                                       
                                        <div class="row">
                                            <div class="col">
                                                <label for="pannumber">PAN Number </label>
                                                <input type="text" class="form-control" id="pannumber" name="pannumber" value="{{employee.pannumber}}"
                                                    placeholder="ABCDE1234A" pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" 
                                                    style="background-color: #2f516f;color: white;" required>
                                               
                                            </div>
                                            <div class="col">
                                                <label for="aadhaarnumber">Aadhaar Number </label>
                                                <input type="text" class="form-control pan" id="aadhaarnumber" name="adharnumber" value="{{employee.adharnumber}}"
                                                    size=20" placeholder="1234 1234 1234" pattern="[0-9]{4} [0-9]{4} [0-9]{4}" 
                                                    style="background-color: #2f516f;color: white;" required>
                                                
                                            </div>
                                        </div>
                                        &nbsp;
                                        <div class="row">
                                            <div class="col">
                                                <label for="universalaccountnumber">Universal Account Number </label>
                                                <input type="text" class="form-control" id="universalaccountnumber" value="{{employee.universalaccountnumber}}"
                                                    name="universalaccountnumber" style="background-color: #2f516f;color: white;" required>
                                                
                                            </div>
                                            <div class="col">
                                                <label for="pfaccountnumber">PF Account Number</label>
                                                <input type="text" class="form-control" id="pfaccountnumber" name="pfaccountnumber"  value="{{employee.pfaccountnumber}}"
                                                    style="background-color: #2f516f;color: white;" required>
                                               
                                            </div>
                                        </div>
                                        &nbsp;
                                        <div class="row">
                                            <div class="col">
                                                <label for="praccountnumber">PR Account Number</label>
                                                <input type="text" class="form-control" id="praccountnumber" name="praccountnumber" value="{{employee.praccountnumber}}"
                                                    style="background-color: #2f516f;color: white;" required>
                                                
                                            </div>
                                            <div class="col">
                                                <label for="esinumber">ESI Number </label>
                                                <input type="text" class="form-control" id="esinumber" name="esinumber" value="{{employee.esinumber}}"
                                                    style="background-color: #2f516f;color: white;" required>
                                                
                                            </div>
                                        </div>
                                        &nbsp;
                                        <div class="row">
                                            <div class="col">
                                                <label for="tdsapplicable">TDS Applicable</label>
                                                <select name="tdsapp" id="tdsapplicable" class="form-control"
                                                    onchange="toggleDivTds()">
                                                    <option value="No">No</option>
                                                    <option value="Yes">Yes</option>
                                                </select>
                                                
                                            </div>
                                            <div class="col"  id="div-tds" style="display: none;">
                                                <label for="tdsamtperc">TDS Type</label>
                                                <select name="tdstype" id="tdsamtperc" class="form-control" value="{{employee.tdstype}}">
                                                    <option value="Amount">Amount</option>
                                                    <option value="Percentage">Percentage</option>
            
                                                </select>
                                                <label for="tds"></label>
                                                <input type="text" class="form-control" id="tds" name="tds" value="{{employee.tds}}"
                                                    style="background-color: #2f516f; color: white;" value="0">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                         <div class="row">
                                            <div class="col">
                                                <label for="drp_Bank_Details">Account Bank Details </label>
                                                <select name="bankdetails" id="drp_Bank_Details" class="form-control" 
                                                    onchange="toggleDivVisibility()">
                                                    <option value="No">No</option>
                                                    <option value="Yes">Yes</option>
                                                    <option value="Unknown">Unknown</option>
                                                </select>
                                            </div> 
                                        </div>
                                        &nbsp;
                                        <div class="desc" id="Bank_Details" style="display: none;">
                                        <div class="row">
                                            <div class="col">
                                                <label for="bank_num">A/C No:</label>
                                                <input type="text" class="form-control" id="bank_num" name="acno" value="{{employee.acno}}"
                                                    style="background-color: #2f516f; color: white;" >
                                                <div class="text-danger"></div>
                                               
                                            </div>
                                            <div class="col">
                                                <label for="IFSCCode">IFSC Code</label>
                                                <input type="text" class="form-control" id="IFSCCode" name="ifsccode" value="{{employee.ifsccode}}"
                                                    style="background-color: #2f516f; color: white;" >
                                                <div class="text-danger"></div>
                                            </div>
                                        </div>
                                        &nbsp;   
                                        <div class="row">
                                            <div class="col">
                                                <label for="BankName">Bank Name</label>
                                                    <input type="text" class="form-control" id="BankName" name="bankname" value="{{employee.bankname}}"
                                                        style="background-color: #2f516f; color: white;" >
                                                    <div class="text-danger"></div>
                                               
                                            </div>
                                            <div class="col">
                                                <label for="bank_Branch_Name">Branch Name</label>
                                                <input type="text" class="form-control" id="bank_Branch_Name" name="branchname" value="{{employee.branchname}}"
                                                    style="background-color: #2f516f; color: white;" >
                                                <div class="text-danger"></div>
                                            </div>
                                        </div>
                                        </div>
                                        &nbsp;
                                        <div class="row">
                                            <div class="col">
                                                <label for="transactiontype"> Transaction Type</label>
                                                <select name="transactiontype" id="transactiontype" class="form-control" value="{{employee.transactiontype}}">
                                                    <option value="Unknown">Unknown</option>
                                                    <option value="EndofList">End of List</option>
                                                    <option value="Cheque">Cheque</option>
                                                    <option value="eFundTransfer">e-Fund Transfer</option>
                                                    <option value="ATM">ATM</option>
                                                    <option value="Card">Card</option>
                                                    <option value="ECS">ECS</option>
                                                    <option value="Others">Others</option>
                                                </select>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
             
                            </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 mt-2">
                        <div class="row">
                            <div class="col-md-12 card-title">
                                <h5 class="mb-0">Permanant Address</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-3">
                                <div class="form-row">
                                    <label for="street">Street</label>
                                    <textarea class="form-control street" id="street" name="street"  
                                        style="background-color: #2f516f;color: white;" required>{{employee.street}}</textarea>
                                    <div class="invalid-feedback">Please provide a valid Street</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-3">
                                <div class="form-row">
                                    <label for="city">City</label>
                                    <input type="text" class="form-control" id="city" name="city"  value="{{employee.city}}"
                                        style="background-color: #2f516f;color: white;" placeholder="City" required>
                                    <div class="invalid-feedback">Please provide a valid City</div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-3">
                                <div class="form-row">
                                    <label for="state">State</label>
                                    <select type="text" class="form-control" id="state" name="state"  value="{{employee.state}}"
                                        style="background-color: #2f516f; color: white;" required>
                                        <option value="" disabled selected>Choose</option>
                                        <option value="Andaman and Nicobar Islads">Andaman and Nicobar
                                            Islands
                                        </option>
                                        <option value="Andhra Predhesh">Andhra Predhesh</option>
                                        <option value="Arunachal Predesh">Arunachal Predesh</option>
                                        <option value="Assam">Assam</option>
                                        <option value="Bihar">Bihar</option>
                                        <option value="Chandigarh">Chandigarh</option>
                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                        <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli
                                        </option>
                                        <option value="Damn anad Diu">Damn anad Diu</option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="Goa">Goa</option>
                                        <option value="Gujarat">Gujarat</option>
                                        <option value="Haryana">Haryana</option>
                                        <option value="Himachal Predesh">Himachal Predesh</option>
                                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                        <option value="Jharkhand">Jharkhand</option>
                                        <option value="Karnataka">Karnataka</option>
                                        <option value="Kerala">Kerala</option>
                                        <option value="Ladakh">Ladakh</option>
                                        <option value="Lakshadweep">Lakshadweep</option>
                                        <option value="Madhya Predesh">Madhya Predesh</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                        <option value="Manipur">Manipur</option>
                                        <option value="Meghalaya">Meghalaya</option>
                                        <option value="Mizoram">Mizoram</option>
                                        <option value="Nagaland">Nagaland</option>
                                        <option value="Odisha">Odisha</option>
                                        <option value="Puducherry">Puducherry</option>
                                        <option value="Punjab">Punjab</option>
                                        <option value="Rajasthan">Rajasthan</option>
                                        <option value="Sikkim">Sikkim</option>
                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                        <option value="Telangana">Telangana</option>
                                        <option value="Tripura">Tripura</option>
                                        <option value="Uttar Predesh">Uttar Predesh</option>
                                        <option value="Uttarakhand">Uttarakhand</option>
                                        <option value="West Bengal">West Bengal</option>
                                        <option value="Other Territory">Other Territory</option>
                                    </select>
                                    <div class="invalid-feedback">Please provide a valid State</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-3">
                                <div class="form-row">
                                    <label for="pinco">Pin Code</label>
                                    <input type="text" class="form-control" id="pinco" name="pincode" maxlength="6"  value="{{employee.pincode}}"
                                        style="background-color: #2f516f;color: white;" placeholder="PIN code" required>
                                    <div class="invalid-feedback">Please provide a valid Pin Code</div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-3">
                                <div class="form-row">
                                    <label for="country">Country</label>
                                    <input type="text" class="form-control" id="country" name="country"  value="{{employee.country}}"
                                        style="background-color: #2f516f;color: white;" placeholder="Country" required>
                                    <div class="invalid-feedback">Please provide a valid Country</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class="row">
                            <div class="col-md-12 d-flex">
                                <h5>Temporary Address</h5>
                                <input class="ml-4 mb-2 ml-2" type="checkbox" onclick="poppins()" id="okay" name="okay">
                                <label class="ml-2 mb-2 ml-2 mb-0" for="okay">Same As Permenant Address</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-3">
                                <div class="form-row">
                                    <label for="tempstreet">Street</label>
                                    <textarea class="form-control" id="tempstreet" name="tempstreet"
                                        style="background-color: #2f516f;color: white;" required>{{employee.tempstreet}}</textarea>
                                    <div class="invalid-feedback">Please provide a valid Street</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-3">
                                <div class="form-row">
                                    <label for="tempcity">City</label>
                                    <input type="text" class="form-control" id="tempcity" name="tempcity"  value="{{employee.tempcity}}"
                                        style="background-color: #2f516f;color: white;" placeholder="City" required>
                                    <div class="invalid-feedback">Please provide a valid City</div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-3">
                                <div class="form-row">
                                    <label for="tempstate">State</label>
                                    <select type="text" class="form-control" id="tempstate" name="tempstate"  value="{{employee.tempstate}}"
                                        style="background-color: #2f516f; color: white;" required>
                                        <option id="tempst" selected>Choose</option>
                                        <option value="Andaman and Nicobar Islads">Andaman and Nicobar
                                            Islads
                                        </option>
                                        <option value="Andhra Predhesh">Andhra Predhesh</option>
                                        <option value="Arunachal Predesh">Arunachal Predesh</option>
                                        <option value="Assam">Assam</option>
                                        <option value="Bihar">Bihar</option>
                                        <option value="Chandigarh">Chandigarh</option>
                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                        <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli
                                        </option>
                                        <option value="Damn anad Diu">Damn anad Diu</option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="Goa">Goa</option>
                                        <option value="Gujarat">Gujarat</option>
                                        <option value="Haryana">Haryana</option>
                                        <option value="Himachal Predesh">Himachal Predesh</option>
                                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                        <option value="Jharkhand">Jharkhand</option>
                                        <option value="Karnataka">Karnataka</option>
                                        <option value="Kerala">Kerala</option>
                                        <option value="Ladakh">Ladakh</option>
                                        <option value="Lakshadweep">Lakshadweep</option>
                                        <option value="Madhya Predesh">Madhya Predesh</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                        <option value="Manipur">Manipur</option>
                                        <option value="Meghalaya">Meghalaya</option>
                                        <option value="Mizoram">Mizoram</option>
                                        <option value="Nagaland">Nagaland</option>
                                        <option value="Odisha">Odisha</option>
                                        <option value="Puducherry">Puducherry</option>
                                        <option value="Punjab">Punjab</option>
                                        <option value="Rajasthan">Rajasthan</option>
                                        <option value="Sikkim">Sikkim</option>
                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                        <option value="Telangana">Telangana</option>
                                        <option value="Tripura">Tripura</option>
                                        <option value="Uttar Predesh">Uttar Predesh</option>
                                        <option value="Uttarakhand">Uttarakhand</option>
                                        <option value="West Bengal">West Bengal</option>
                                        <option value="Other Territory">Other Territory</option>
                                    </select>
                                    <div class="invalid-feedback">Please provide a valid State</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-3">
                                <div class="form-row">
                                    <label for="temppinco">Pin Code</label>
                                    <input type="text" class="form-control" id="temppinco" name="temppincode" maxlength="6"  value="{{employee.temppincode}}"
                                        style="background-color: #2f516f;color: white;" placeholder="PIN code" required>
                                    <div class="invalid-feedback">Please provide a valid Pin Code</div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-3">
                                <div class="form-row">
                                    <label for="tempcountry">Country</label>
                                    <input type="text" class="form-control" id="tempcountry" name="tempcountry"  value="{{employee.tempcountry}}"
                                        style="background-color: #2f516f;color: white;" placeholder="Country" required>
                                    <div class="invalid-feedback">Please provide a valid Country</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="invalidCheck" 
                                style="background-color: #2f516f;" required>
                            <label>Agree to Terms and Conditions</label>
                            <div class="invalid-feedback">You must agree before submitting.</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button class="btn btn-outline-info rounded-pill text-grey w-100 mt-3 mb-3" type="submit">
                            UPDATE
                        </button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                
            </div>
            {% endif %}
        </form>
    </div>
</div>














<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    function poppins() {
        var chkbtn = document.getElementById('okay');
        if (chkbtn.checked == true) {
            document.getElementById('tempstreet').value = document.getElementById('street').value;
            document.getElementById('tempcity').value = document.getElementById('city').value;
            document.getElementById('temppinco').value = document.getElementById('pinco').value;
            document.getElementById('tempcountry').value = document.getElementById('country').value;
            document.getElementById('tempstate').value = document.getElementById('state').value; 
        } else {
            document.getElementById('tempstreet').value = '';
            document.getElementById('tempcity').value = '';
            document.getElementById('tempstate').value = '';
            document.getElementById('temppinco').value = '';
            document.getElementById('tempcountry').value = '';
        }
    }
</script>
<script>
    // function hidinput(divId, element) {
    //     if (element.value == 'GST unregistered' || element.value == 'Consumer' || element.value == 'Overseas') {
    //         document.getElementById(divId).style.display = 'none';
    //     } else {
    //         document.getElementById(divId).style.display = 'block';
    //     }
    // }

    function hidinput(divId, element) {
        if (element.value == 'GST-registered-Regular') {
            document.getElementById(divId).style.display = 'block';
        } else {
            document.getElementById(divId).style.display = 'none';
        }
    }

    function disinput(divId, element) {
        if (element.value == 'GST-registered-Regular') {
            document.getElementById(divId).style.display = 'block';
        } else {
            document.getElementById(divId).style.display = 'none';
        }
    }

    function disinput2(divId, element) {
        if (element.value == 'GST-registered-Regular') {
            document.getElementById(divId).style.display = 'block';
        } else {
            document.getElementById(divId).style.display = 'none';
        }
    }



    function checkgst(element) {
        var gstinput = element.value;
        var gstregexp = "[0-9]{2}[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}[1-9A-Za-z]{1}[Z]{1}[0-9a-zA-Z]{1}";
        if (gstinput.match(gstregexp)) {
            document.getElementById('warngst').innerHTML = '';
        } else {
            document.getElementById('warngst').innerHTML = 'Please provide a valid GST Number';
            alert('Please provide a valid GST Number');
        }
    }

    function checkpan(element) {
        var paninput = element.value;
        var panregexp = ["[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}"]
        if (paninput.match(panregexp)) {
            document.getElementById('warnpan').innerHTML = '';
        } else {
            document.getElementById('warnpan').innerHTML = 'Please provide a valid PAN Number';
            alert('Please provide a valid PAN Number')
        }
    }

    function checkweb(element) {
        var webinput = element.value;
        var webregexp = "www."
        if (webinput.startsWith(webregexp)) {
            document.getElementById('warnweb').innerHTML = '';
        } else {
            document.getElementById('warnweb').innerHTML = 'Please provide a valid Website Address';
            alert('Please provide a valid Website Address')
        }
    }

    
</script>
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</script>
<script type="text/javascript">
       function show(str) { 
        if (document.getElementById('Employees').value != 'Timebased') {
            $('#amount').prop('readonly', false);
        }
        else {
            $('#amount').prop('readonly', true);
        }
        document.getElementById('Salarydetails').style.display = 'none';
        document.getElementById('Salarydetails').style.display = 'block';
    }

    function show2(sign) {
        document.getElementById('Salarydetails').style.display = 'block';
        document.getElementById('Salarydetails').style.display = 'none'; 
    }  

    function toggleDivVisibility() { 
        var selectElement = document.getElementById("drp_Bank_Details");
        var selectedValue = selectElement.value;
        var bankDiv = document.getElementById("Bank_Details");

        if (selectedValue === "Yes") {
            bankDiv.style.display = "block";  // Show the div
        } else {
            bankDiv.style.display = "none";   // Hide the div
        }
    }

    function toggleDivTds() {
        var selectElement = document.getElementById("tdsapplicable");
        var selectedValue = selectElement.value;
        var tdsDiv = document.getElementById("div-tds");

        if (selectedValue === "Yes") {
            tdsDiv.style.display = "block";  // Show the div
        } else {
            tdsDiv.style.display = "none";   // Hide the div 
        }
    }

    function DefineSalaryShow() {
        var time_based = document.getElementById("time_based_show");
        if (document.getElementById('Employees').value != 'Timebased') {
            $('#amount').prop('readonly', false);  
            time_based.style.display = "none";
        }
        else {
            $('#amount').prop('readonly', true); 
            time_based.style.display = "flex";
        }
    }

    $('#hours, #rate').on('input', function () {
        var hours = parseFloat($('#hours').val());
        var rate = parseFloat($('#rate').val());
        var amount = hours * rate;
        $('#amount').val(amount);
    });

    function showPreview(event) {
        if (event.target.files.length > 0) {
            var src = URL.createObjectURL(event.target.files[0]);
            var preview = document.getElementById("file-ip-1-preview");
            preview.src = src;
            preview.style.display = "block";
            preview.style.width = "100px";
            preview.style.height = "100px";
        }
    }
        $(document).ready(function() { 
         $("#title").val("{{employee.title}}");
         $("#gsttype").val("{{employee.gsttype}}");
         $("#Employees").val("{{employee.employees}}");
         $("#drp_Bank_Details").val("{{employee.bankdetails}}");
         $("#gender").val("{{employee.gender}}");
         $("#bloodgroup").val("{{employee.bloodgroup}}");
         $("#state").val("{{employee.state}}");
         $("#tempstate").val("{{employee.tempstate}}");
         $("#transactiontype").val("{{employee.transactiontype}}");
         $("#tdsapplicable").val("{{employee.istds}}");
         $("#tdsamtperc").val("{{employee.tdstype}}");
         if("{{employee.salarydetails}}" == 'Yes')
         {
          $('input:radio[name="salarydetails"][value="Yes"]').prop('checked', true);
           show('Yes')
         }
         else{
            $('input:radio[name="salarydetails"][value="No"]').prop('checked', true);
            show2('No')
         }
         DefineSalaryShow();
         toggleDivVisibility();
         toggleDivTds();
        var preview = document.getElementById("file-ip-1-preview"); 
        preview.style.width = "100px";
        preview.style.height = "100px";

        });

</script>
{% endblock %}